body {
  width: 480px;
  height: 320px;
  box-sizing: border-box;
  border: 1px solid darkgray;
  overflow: hidden;
  background-color: gray;
}

.panel {
  height: 100%;
  width: 100%;
  display: block;
}

.panel-content {
  visibility: hidden;

  &.on {
    visibility: visible;
  }
}

.clearfix { clear: both; }
